.cl {
    width: 12.5% !important;
}

.client-transactions-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-transactions-select {
    width: 75vw;
    height: 10vh;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: stretch;
}

.client-transactions-select section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-weight: 550;
    outline: none;
    /* background-color: rgb(71, 71, 71); */
    /* color: #666666; */
    cursor: pointer;
    /* text-decoration: underline 2px #7e172a; */
    text-transform: uppercase;
}

.transaction {
    width: 100%;
    height: 50%;

    padding: 2rem;
    background-color: white;
    /* background-color: skyblue; */

    /* display: flex;
      flex-direction: column;
      justify-content: space-evenly; */
}

@media screen and (max-width: 500px) {
    .client-transactions-container {
        margin-top: 1rem;
        overflow: hidden;
    }

    .client-transactions-select section {
        font-size: 0.8rem;
        gap: 1rem;
    }

    .client-transactions-select {
        white-space: nowrap;
    }
}