.form-trans-client {
    margin-top: 1rem;
}

.form-trans-client label {
    font-size: 1.25rem;
    font-weight: 500;
}

.form-trans-client label input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-trans-client h2 {
    color: #000;
}

@media screen and (max-width: 768px) {
    .form-trans-client {
        margin-top: 0rem;
        width: 90vw;
    }

    .form-trans-client label {
        font-size: 1rem;
        margin-left: 1.5rem;
    }

    .form-trans-client label input {
        border-radius: 0px;
    }

}