body {
    background-image: url(../../../images/bgadmin.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-logo {
    width: 150px;
    position: fixed;
    margin-left: 15%;
    margin-top: -5vh;
}

.admin-logged-in {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.logout-btn {
    width: 150px;
    background-color: #94192F;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.25s;
}

.logout-btn:hover {
    background-color: #6d1324;
}

.admin-wave {
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    opacity: 0.95;
    overflow: hidden;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(0, 0%, 37%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.row1-container {
    margin-top: 1rem;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 175px;
        transform: translateX(12.5vw);
        width: 300px;
    }

    .box h2 {
        z-index: -1;
    }

    .orange {
        display: none;
    }

    img {
        width: 10%;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }

    .orange {
        display: none;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}

.red {
    border-top: 3px solid var(--red);
}

.blue {
    border-top: 3px solid var(--blue);
}

.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-down {
        position: relative;
        top: 150px;
    }

    .box {
        width: 20%;
    }

    .header p {
        width: 30%;
    }

}

@media screen and (max-width: 414px) {
    .admin-trans-container {
        overflow: hidden;
    }

    .admin-logged-in h1 {
        font-size: 1.5rem;
    }

    .admin-wave {
        width: 110vw;
    }
}