.sign-up-logo-his {
    width: 150px;
    position: fixed;

}

.btn a {
    color: #fff;
}

.transaction-list {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}