.admin-member-history {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 5rem;
}

.member-list {
    overflow: hidden;
}

.members span {
    margin-left: 0rem;
}

.bal {
    color: rgb(0, 158, 197);
}

.bal-act {
    font-size: 1.25rem;
}

@media screen and (max-width: 500px) {

    .member-list {
        margin-top: 1rem;
    }

    .members {
        width: 15rem;
        font-size: 0.9rem;
    }

    .content-mems span {
        font-size: 0.9rem;
    }
}