.admin-member-history {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 5rem;
}

.member-list {
    display: grid;
    place-items: center;
    margin-top: 5rem;
    margin-left: 0.88rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 5fr));
    grid-gap: 1rem;
}

.members {
    transition: transform 1s;
    background: rgb(39, 39, 39);
    width: 19rem;
    height: 10rem;
    color: #fff;
    font-weight: 550;
    border-radius: .5rem;
    text-align: center;
}

.members span {
    margin-left: 0rem;
}

.bal {
    color: rgb(0, 158, 197);
}

.bal-act {
    font-size: 1.25rem;
}

.hr-line {
    width: 50%;
    margin: 0 auto;
    border: none;
    outline: none;
    border-bottom: 2px solid #000 !important;
}

@media screen and (max-width: 500px) {
    .hr-line {
        width: 100%;
    }

    .member-list {
        margin-top: 1rem;
    }

    .members {
        width: 15rem;
        font-size: 0.9rem;
    }
}