.admin-transactions-title {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 5rem;
}

.admin-transactions-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-transactions-select {
    width: 80vw;
    height: 10vh;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: stretch;
}

.deposit-section {
    border-top-left-radius: 15px;
}

.transfer-section {
    border-top-right-radius: 15px;
}

.admin-transactions-select section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 550;
    outline: none;
    background-color: rgb(71, 71, 71);
    color: #fbfbfb;
    cursor: pointer;
    /* text-decoration: underline 2px #7e172a; */
    text-transform: uppercase;
}

.admin-transactions {
    width: 80vw;
    height: 60vh;
    padding: 2rem;
    border: 1px solid black;
    background-color: rgb(56, 56, 56);
    color: #fbfbfb;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width: 500px) {
    .admin-transactions-container {
        margin-top: 1rem;
        height: 65vh;
        overflow: hidden;
    }

    .admin-transactions-select section {
        font-size: 0.8rem;
    }
}